<% layout('./layouts/layout') -%>

<div class="col-sm-8">
  <% if(transactions.length <= 0){ %>
    <article class="col-sm-12 well">
      <header>
        <h2>No results</h2>
      </header>
      <p>Sorry! No results where found.</p>
    </article>
  <% } else { %>
    <% transactions.forEach ( (trans)=> { %>
      <div class="col-sm-6">
        <article class="well">
          <header>
            <h4><%= trans.id %></h4>
          </header>
          <p><%= trans.date %></p>
          <p><%= trans.items %></p>
          <p><%= trans.action %></p>
          <% if (trans.action === "sale") { %>

            <div class="well">
              <div class="form-group row">
                <div class="col-sm-offset-8 col-sm-2">
                  <button type="submit" class="btn btn-default">Refund</button>
                </div>
              </div>
            </div>

          <% } %>


        </article>
      </div>
    <% }) %>
  <% } %>

</div>
